
.navbar>li {
    display: inline-block;
    /* width: 60px;
    text-align: center;
    background: blueviolet;
    padding: 10px;
    border-radius: 5px;;    */
}



.navbar a {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
}
